.nav-bar {
  height: 40px;
  display: flex;
  justify-content: space-around;
  font-weight: bolder;
  padding-bottom: 6px;
  padding-top: 10px;
  border-bottom: 1px solid #dedee2;
  background-color: #FFFFFF;
}
 
.nav-logo {
  /* position: absolute; */
  margin-bottom: 10px;
}

.route-drop {
  position: relative;
  display: inline-block;
}

.r-drop-cont {
  display: none;
  background-color: #FFFFFF;
  
}

.r-drop-cont > li {
  padding: 12px 16px;
  display: block;
  list-style: none;
}

.r-drop-cont > li:hover {
  padding: 9px 12px;
  display: block;
  list-style: none;
  background-color: #dedee2;
  max-width: 120px;
}

.route-drop:hover .r-drop-cont {
  display: block;
}

.nav-button {
  border: none;
  font-size: 16px;
  padding: 10px;
  width: 140px;
}
