.nav-bar {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  font-weight: bolder;
  padding-bottom: 6px;
  padding-top: 10px;
  border-bottom: 1px solid #dedee2;
  background-color: #FFFFFF;
}
 
.nav-logo {
  position: relative;
  margin-right: 10px;
  left: 10px;
  top: 0px;
  height: 36px;
}

.route-drop {
  position: relative;
  display: inline-block;
}

.r-drop-cont {
  border: 1px solid #dedee2;
  display: none;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
}

.r-drop-cont > li {
  padding: 12px 16px;
  display: block;
  list-style: none;
}

.r-drop-cont > li:hover {
  padding: 9px 12px;
  display: block;
  list-style: none;
  background-color: #dedee2;
  max-width: 120px;
}

.route-drop:hover .r-drop-cont {
  display: block;
}

.nav-button {
  /* border: none; */
  background: transparent;
  font-size: 16px;
  padding: 10px;
  width: 140px;
  margin-right: 30px;
  cursor: pointer;
}

.nav-button-logout {
  position: absolute;
  right: 15px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	cursor: pointer;
	color: #FC4C02;
	font-size: 13px;
	font-weight: bolder;
	padding: 10px 30px;
  text-decoration: none;
  margin-right: 15px;
}

.nav-button-logout:hover {
	background-color: #dedee2;
	cursor: pointer;
}

.route-drop:hover .r-drop-cont:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 15px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2d2d32;
}
