#map-container {
  width: 900px;
  height: 600px;
  margin-left: 100px;
}

#map-show-container {
  width: 900px;
  height: 600px;
}

.save-title {
  position: relative;
  background: rgba(255,255,255,0.95);
  padding: 15px 20px;
  border-bottom: 1px solid #ccccd1;
  margin: 0;
}

.save-cancel-btn {
  position: absolute;
  top: 410px;
  left: 340px;
  display: flex;
  flex-direction: row-reverse;
}

.route-nav {
  width: 900px;
  height: 50px;
  margin-left: 100px;
  display: flex;
  justify-content: flex-end;
  background: #F1F1F1;
  margin-top: 25px;
}

.route-dist {
  width: 900px;
  margin-left: 100px;
  display: flex;
  background: #F1F1F1;
  margin-bottom: 25px;
}

.route-title {
  padding: 25px 50px;
  margin-left: 100px;
  margin-right: 60px;
  border-bottom: 1px solid #CCCCCC;
  width: 800px;
}

.route-idx-view {
  height: 400px;
  width: 400px;
  border: 1px solid #f2f2f2;
  padding: 25px;
  margin: 10px;
  cursor: pointer;
}

.route-idx-view > p {
  pointer-events: none;
}

.route-idx-view:hover {
  background-color: #f5f5fa;
}

.route-list > li {
  list-style: none;
}

.route-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.new-route-button {
	background-color: #FC4C02;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bolder;
	padding: 6px 16px;
	text-decoration: none;
	width: 180px;
	justify-content: center;
	border: 1px solid #FC4C02;
}

.new-route-button:hover {
	background-color: #D13E00;
	border: 1px solid #D13E00;
	cursor: pointer;
}

.route-show {
  margin: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.route-info {
  margin-left: 75px;
}

.route-leaderboard {
  margin: 75px;
}

.route-info-container {
  display: flex;
  flex-direction: column;
}

.dist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #f2f2f2
}

.route-button {
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	cursor: pointer;
	color: #606065;
	font-size: 13px;
	font-weight: bolder;
	padding: 5px 10px;
  text-decoration: none;
  margin-bottom: 10px;
}

.route-button:hover {
	background-color: #f5f5fa;
	cursor: pointer;
}

.route-save-button {
	background-color: #FC4C02;
	border-radius: 3px;
	border: 1px solid #CCCCCC;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bolder;
	padding: 12px 15px;
  text-decoration: none;
}

.route-save-button:hover {
	background-color: #f5f5fa;
	cursor: pointer;
}

.run-bike-btn {
  position: absolute;
  left: 500px;
}

.run-bike-btn > button {
  height: 50px;
}

.save-button {
	background-color: #2d2d32;
	border-radius: 3px;
	border: 1px solid #2d2d32;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bolder;
	padding: 6px 16px;
  text-decoration: none;
}

.save-button:hover {
	background-color: #45454d;
	cursor: pointer;
}

.cancel-button {
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #f5f5fa;
	display: inline-block;
	cursor: pointer;
	color: #2d2d32;
	font-size: 13px;
	font-weight: bolder;
	padding: 6px 16px;
  text-decoration: none;
  margin-right: 4px;
}

.cancel-button:hover {
	background-color: #f5f5fa;
	cursor: pointer;
}

.mid-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 20px;
  font-size: 14px;
}


.item-map {
  width: 400px;
  height: 300px;
  pointer-events: none;
}

.submit-form {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 325px;
  left: 275px;
  height: 450px;
  width: 500px;
  background: #f7f7f7;
  z-index: 1;
  box-shadow: 0px 8px 24px rgba(13,13,18,0.4);
}

.submit-buttons {
  display: flex;
  flex-direction: row-reverse;
}


