.splash-container {
  position: relative;
}

.splash-bg {
  max-width: 100%;
  height: auto;
}

.top-right-login {
  position: absolute;
  top: 8px;
  right: 16px;
}

.top-right-signup {
  position: absolute;
  top: 8px;
  right: 96px;
}

.top-left-demo {
  position: absolute;
  top: 8px;
  left: 16px;
}

.session-container {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  width: 550px;
}

.session-form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 275px;
}

.session-form-errors {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -70%);
  
}

.session-form-errors li {
  list-style: none;
  padding: 10px;
  color: red;
  font-weight: bold;
}

.session-form input[type=text] {
  width: 70%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.session-form input[type=password] {
  width: 70%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.tagline {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}