.workout-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 100px;
}

.workout-title-bar {
  width: 900px;
  background: #f5f5fa;
}

.left-workout {
  width: 450px;
}

.left-right-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 200px;
}

.right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.right-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.work-show-inner {
  display: flex;
  flex-direction: row;
}

.workout-creator-container {
  display: flex;
  flex-direction: column;
}

.workout-new-bottom {
  display: flex;
  flex-direction: column;
}

.workout-new-top {
  display: flex;
  flex-direction: column;
}

.workout-routes {
  display: flex;
  flex: wrap;
}

