.workout-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin-left: 100px;
}

.workout-title-bar {
  width: 900px;
  background: #f5f5fa;
}

.left-workout {
  width: 450px;
}

.left-right-container {
  display: flex;
  flex-direction: row;
  width: 900px;
  height: 200px;
}

.right-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.right-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.work-show-inner {
  display: flex;
  flex-direction: row;
}

.workout-creator-container {
  display: flex;
  flex-direction: column;
}

.workout-new-bottom {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.workout-new-top {
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}

.workout-routes {
  display: flex;
  flex: wrap;
}

.workout-form {
  display: none;
}

.workout-form-show {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 325px;
  left: 275px;
  height: 450px;
  width: 500px;
  background: #f7f7f7;
  z-index: 1;
  box-shadow: 0px 8px 24px rgb(13,13,18,0.4);
}

.routes-container-hidden {
  display: none;
}

.routes-container > h1 {
  margin-left: 100px;
  padding: 25px 50px;
  border-bottom: 1px solid #CCCCCC;
  width: 800px;
}

.workout-time {
  display: flex;
  flex-direction: row;
}

.workout-time > input {
  width: 30px;
}


.test {
  display: flex;
  flex-direction: column;
}

#workout-desc {
  margin: 0px 20px;
}

.workout-index-container {
  position: absolute;
  top: 85px;
  left: 400px;
  width: 780px;
}

.bottom-wo-items {
  display: flex;
  flex-direction: row;
}

#wo-idx-item {
  width: 700px;
  height: 750px;
  display: flex;
  justify-content: center; 
  border: 1px solid #CCCCCC;
  margin: 25px;
  box-shadow: 0px 8px 24px rgb(13,13,18,0.4);
  border-radius: 3px;
}

.wo-idx-item-map {
  width: 600px;
  height: 400px;
}

.wo-show-item {
  display: flex;
  flex-direction: column;
}

.wo-inner {
  display: flex;
  flex-direction: row;
}

