.workout-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.left-right-container {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.right-top {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  width: 300px;
}

.right-bottom {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  width: 300px;
}

